@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.nav-container {
    background-color: rgb(239, 253, 255);
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 2dvh;
    position: fixed;
    border-bottom: #60c5ff 3px solid;
}

.nav-brand {
    color: rgb(0, 92, 137);
    font-size: 1.5rem;
    text-decoration: none;
    float: left;
    padding-right: 30px;
    margin-top: -5px;
    margin-bottom: -2px;
}


.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    transition: /*font-size 0.2s ease,*/ color 0.2s ease;
    text-decoration: none;
    text-align: center;
    min-width: fit-content;
    padding-left: 15px;
}

.nav-links a:hover {
    /* font-size: 1.02rem; */
    color: #136f8a;
}

.nav-user {
    right: 20px;
    position: fixed;
}

.nav-uname {
    color: rgb(99, 99, 99);
    font-size: 1.1rem;
}

.content {
    margin-top: 8dvh;
    padding: 20px;
}

footer {
    width: 100%;
    bottom: 0;
    background-color: rgb(239, 253, 255);
    position: fixed;
    text-align: center;
}